#nav {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  list-style: none;
  justify-self: center;
}

#nav a {
  display: block;
  padding: 29px;
  font-size: 130%;
  text-decoration: none;
  text-align: center;
  font-family: "Apercu";
  color: black;
}

@font-face {
  font-family: "Apercu";
  src: url("../produkt_site/fonts/Apercu-Medium-kopi.ttf");
}
